<div class="col-sm-12">
	<div class="card ribbon-wrapper">
	  <div class="card-header">
	    <h5>Add Farm Boundary File</h5><span>Upload the KML, GPX, or SHP File acquired from the field and click continue.</span>
	  </div>
	  <div class="card-block row">
	  	<div class="col-md-12 form-group">
	  		<input class="form-control" type="file" placeholder="Click to upload"/>
	  	</div>
	  	<div class="col-md-12">
            <div
                 class="well my-drop-zone">
                OR<br/>Drag a file into this area.
            </div>
        </div>
	    <div class="col-md-12 m-t-15">
	    	<p class="text-center pt-3"><a (click)="processStage()" class="btn btn-primary">Continue</a></p>
		</div>
	  </div>
	</div>
</div>