
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$agc-primary: mat-palette($mat-indigo);
$agc-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$agc-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$agc-theme: mat-light-theme((
  color: (
    primary: $agc-primary,
    accent: $agc-accent,
    warn: $agc-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($agc-theme);

@import "~bootstrap-scss/bootstrap.scss";
 
@import "style";

@import "~ngx-toastr/toastr";
@import "~chartist/dist/scss/chartist.scss";

@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

@import "sweetalert2/src/sweetalert2.scss";

@import "~perfect-scrollbar/css/perfect-scrollbar.css";
@import "~dropzone/dist/min/dropzone.min.css";

@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import "~dragula/dist/dragula.css";
@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/bootstrap.css";
@import "~@swimlane/ngx-datatable/assets/icons.css";
@import "~ngx-simplemde/src/index.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~angular-archwizard/archwizard.scss";
@import "todo.scss";
@import "photoswipe.scss";
@import "~leaflet/dist/leaflet.css";
@import "~@ctrl/ngx-emoji-mart/picker";



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
