<!-- first stage navbar with logo -->
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4CAF50 ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="/assets/images/logo/nirsal-logo.png" width="200px" height="100px" alt="image" class="img-fluid"></a>
        </div>
      </nav>
      <!--End of first stage navbar with logo -->

        <!-- Second level navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="/assets/images/logo/nirsal-logo-mark.png" width="50px" height="34px" alt="image" class="img-fluid"> <strong> PMRO Dashboard</strong></a>
          <div class="collapse navbar-collapse" id="navbarNav">
          
          </div>
        </div>
      </nav>

       <!-- Body section -->
        <div style="margin-top: 20px; margin-bottom: 20px;" class="page-content container"  >


        <!-- third level navigation  -->
        
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #BDBDBD" >
                    <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="container">
                      <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" routerLink="/new-agc-application"><button style="color: black;" class="btn btn-success"></button></a>
                        </li>
                      </ul>
                    </div>
                    </div>
                  </div>
                </nav>
        
        <!--end of third level navigation  -->

          <div class="row">

            <div class="col-12">

              <div class="card">
                <div class="card-body">
                  <div class="jumbotron jumbotron-fluid">
              <div class="container">

              

              </div>
            </div>
                </div>
              </div>

              
          </div>
        </div>

<!-- Footer -->
<nav class="navbary fixed-bottom navbar-expand-lg navbar-light ">
        <div class="container-fluid">
           <span class="navbar-text">
          &copy; 2021. <a href="#">NIRSAL PMRO Portal</a> developed by <a href="https://skylabfintech.ng" target="_blank">SkyLab</a>
        </span>
          <div class="collapse navbar-collapse" id="navbarNav">
          
          </div>
        </div>
      </nav>
<!-- Footer -->