<div class="page-wrapper">
  <!-- error-404 start-->
  <div class="error-wrapper">
    <div class="container"><img class="img-100" src="../assets/images/other-images/sad.png" alt="">
      <div class="error-heading">
        <h2 class="headline font-success">404</h2>
      </div>
      <div class="col-md-8 offset-md-2">
        <p class="sub-content">The page you are attempting to reach is currently not available. <br/>This may be because the page does not exist or has been moved.</p>
      </div>
      <div><a class="btn btn-success-gradien btn-lg" href="index.html">GO BACK</a></div>
    </div>
  </div>
  <!-- error-404 end      -->
</div>