<div class="col-sm-12">
<div class="card ribbon-wrapper">
  <div class="card-header">
    <h5>Farmer's Credit Risk Checks and Assessment</h5><span>This process is in progress. You will be notified of the member's CRC status via the registered email address for this application. Please check back in 24 hours</span>
  </div>
  <div class="card-block row">
    <div class="ribbon ribbon-clip-right ribbon-right ribbon-info">In Progress</div>
    <div class="col-12">
      <img src="assets/images/undraw_online_payments_luau.svg" style="width:  80vw; height:  30vh;"/>
    </div>
    <div class="col-sm-12 col-lg-12 col-xl-12">
      <div class="progress">
        <div class="progress-bar-animated bg-primary progress-bar-striped" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
      <div class="col-md-12 m-t-15">
        <p class="text-center pt-3"><a (click)="crcConfirmation()" class="btn btn-primary">Continue</a></p>
    </div>
  </div>
</div>
</div>